{% extends 'base.html' %}
{% block navigation %}
{% load static %}
<!-- start navbar -->

<!--- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">

    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster fixed">


    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
          <!-- logo -->
    <div class="flex-none w-56 mb-5 flex flex-row items-center">
<!--       <img src="{% static 'img/logo.png' %}" class="w-10 flex-none"> -->
      <strong class="capitalize ml-1 flex-1">POS</strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->
      <!-- link -->
      <a href="{% url 'dashboard' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-chart-pie text-xs mr-2"></i>
        Dashboard
      </a>
      <!-- end link -->

       <!-- link -->
      <a href="{% url 'sales' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        Sales
      </a>
      <!-- end link -->
       <!-- link -->
      <a href="{% url 'purchases' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        Purchases
      </a>
      <!-- end link -->
       <!-- link -->
      <a href="{% url 'inventory' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        Inventory
      </a>

      <!-- end link -->
        <!-- link -->
      <a href="{% url 'users' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        Users
      </a>

      <!-- end link -->

        <!-- link -->
      <a href="{% url 'customers' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        Customers(VIP)
      </a>

      <!-- end link -->
    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->
{% endblock %}
