{% extends 'base.html' %}
{% block navigation %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
{% load static %}
  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16 grid grid-cols-8">

    <div class="col-span-3 bg-white border rounded p-6 mr-8">

    <a href="#" class="btn-bs-primary uppercase tracking-wider">
        <i class="fad fa-layer-plus mr-2"></i>
        New Sale
    </a>
    <hr class="my-6">
    <form action="{% url 'create_sale' %}" method='POST' class="f mt-2">
            {% csrf_token %}
            {{ sale_form.sale_order.label_tag }}
            {{ sale_form.sale_order }}
            <br>


             {{ sale_form.sku.label_tag }}
            {{ sale_form.sku }}
            <br>
              {{ sale_form.quantity.label_tag }}
              {{ sale_form.quantity }}
            <br>
              {{ sale_form.discount.label_tag }}
              {{ sale_form.discount }}
            <br>
               {{ sale_form.unit_price.label_tag }}
               {{ sale_form.unit_price }}
            <br>
               {{ sale_form.total_amount.label_tag }}
               {{ sale_form.total_amount }}
            <br><br>
            <input type='submit' name='create' value='Create' class='btn-bs-primary uppercase tracking-wider' style='width:100%'>

    </form>

    </div>
    <div class="col-span-5 p-4 mt-2 card flex flex-col">

    <div class="px-3 border-b">
        <form action="" class="flex">
            <input class="p-3 flex-1" type="text" placeholder="search">
            <button type="submit" class="p-3">
                <i class="fad fa-search"></i>
            </button>
        </form>
    </div>

    <div class="flex-1 flex flex-col">
         <!-- start a table -->
    <table class="table-fixed P-5 m-5">

        <!-- table head -->
        <thead class="text-left">
            <tr>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide">Sale Date</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide">Sale Order</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide">SKU</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide text-center">UP</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide text-center">Quantity</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide text-center">Discount</th>
                <th class="w-1/8 pb-10 text-sm font-semibold tracking-wide text-center">Total</th>
<!--                 <th class="w-1/4 pb-10 text-sm font-semibold tracking-wide text-right">status</th> -->
            </tr>
        </thead>
        <!-- end table head -->

        <!-- table body -->
        <tbody class="text-left text-gray-600">
        {% for sale in sale_data %}
            <!-- item -->
            <tr>
                <!-- name -->
               <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.sale_date }}</th>
                <!-- name -->
                 <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.sale_order }}</th>
                <!-- mail -->
                <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.sku }}</th>
                <!-- mail -->

                <!-- update -->
                <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.unit_price }}</th>
                <!-- update -->
                <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.quantity }}</th>
                <!-- delete -->
                <th class="w-1/8 mb-4 text-xs font-semibold tracking-wider text-left"> {{ sale.total_amount }}</th>
                <!-- delete -->

            </tr>
            {% endfor %}
        </tbody>
        <!-- end table body -->

    </table>
    <!-- end a table -->
    </div>

    <div class="card-footer flex justify-between">
        <p>4.41 GB (25%) of 17 GB used Manage</p>
        <p>Last account activity: 36 minutes ago</p>
    </div>
</div>

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

{% endblock %}
